<div class="container">
 <div class="row">
 	<div class="col-sm-12 col-md-8 col-lg-6 mr-2 mt-3 text-center bg-light">
 		<h2><%= @customer.last_name + @customer.first_name %>さんの会員詳細</h2>
  </div>
 </div>
 <div class="row">
  <table class="table table-borderless col-sm-12 col-md-6 col-lg-5 mr-2 mt-3">
   <thead>
	  <tr><th>会員ID</th><td><%= @customer.id %></td></tr>
	  <tr><th>会員名</th><td><%= @customer.last_name %><%= @customer.first_name %></td></tr>
	  <tr><th>フリガナ</th><td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td></tr>
	  <tr><th>郵便番号</th><td><%= @customer.postal_code %></td></tr>
	  <tr><th>住所</th><td><%= @customer.address %></td></tr>
	  <tr><th>電話</th><td><%= @customer.telephone_number %></td></tr>
	  <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
	  <tr><th>会員ステータス</th>
	      <td>
	       <% if @customer.is_deleted == true then %>
	        <div class="text-secondary"><stong>退会</stong></div>
	       <% else %>
	        <div class="text-success"><stong>有効</stong></div>
	       <% end %>
	      </td>
	  </tr>
  </table>
  <div class="col-sm6 col-md-4 col-lg-3 mr-2 mt-3">
   <%= link_to"編集する", edit_admin_customer_path,class:"btn btn-success w-45" %>
   <%= link_to"注文履歴を確認する", admin_path('search[value]': @customer.id),class:"btn btn-primary w-75 mt-4" %>
  </div>
 </div>
</div>
 