<div class="container">
 <div class="row">
 <h2 class="col-sm6 col-md-4 col-lg-3 mr-2 mt-3 text-center bg-light">注文履歴詳細</h2>
 </div>
 <div class="row mt-5">
 <table class="col-sm-12 col-md-10 col-lg-8 m-auto table table-borderless">
    <tr>
      <th>購入者</th>
      <td><%= link_to @customer_name,admin_customer_path(@find_order.customer_id) %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @find_order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td>
        〒
        <%= @find_order.postal_code %>
        <%= @find_order.address %><br>
        <%= @find_order.name %>
      </td>
    </tr>
    <tr>
      <th>支払方法</th> 
      <td><%= @find_order.payment_method_i18n %></td>
    </tr>
     <tr>
      <th>注文ステータス</th> 
      <td>
        <%= form_with model:@find_order, url: admin_order_path(@find_order), local:true do |f| %>
        <%= f.select :status, Order.statuses_i18n.invert %>
        <%= f.submit "更新" ,class:"btn btn-success" %>
        <% end %>
        </td>
    </tr>
  </table>
 </div>
 <div class="row mt-5">
 <table class="col-sm-12 col-md-10 col-lg-8 m-auto table table-hover">
   <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
   </thead>
  <tbody>
    <% @find_order.order_details.each do |order_detail| %>
    <tr>
      <th><%= order_detail.item.name %></th>
      <th><%= order_detail.price %></th>
      <th><%= order_detail.amount %></th>
      <th><%= number_to_currency(order_detail.price*order_detail.amount,:precision => 0,:format => "%n") %></th>
      <th>
        <%= form_with model:order_detail, url: admin_order_detail_path(order_detail), local:true do |f| %>
        <%= f.select :making_status, OrderDetail.making_statuses_i18n.invert %>
        <%= f.hidden_field :order_id, value: order_detail.order_id %>
        <%= f.submit "更新" ,class:"btn btn-success" %>
        <% end %>
	    </th> 
    </tr>
  <% end %>
  </tbody>
 </table>
 <table class="col-sm-12 col-md-10 col-lg-4 m-auto table table-borderless">
    <tr>
      <th><strong>商品合計</strong></th>
      <td><%= number_to_currency(@find_order.total_payment,:precision => 0, :format => "%n%u", :unit => "円") %></td>
    </tr>
    <tr>
      <th><strong>送料合計</strong></th>
      <td><%= number_to_currency(@find_order.shipping_cost,:precision => 0, :format => "%n%u", :unit => "円") %></td>
    </tr>
    <tr>
      <th><strong>請求金額合計</strong></th>
      <td><%= number_to_currency(@find_order.total_payment+@find_order.shipping_cost,:precision => 0, :format => "%n%u", :unit => "円") %></td>
    </tr>
 </table>
 </div>
</div>