<div class="container">
 <div class="row">
 	<div class="col-sm-6 col-md-4 col-lg-3 mr-2 mt-3 text-center bg-light">
   <h2>注文履歴一覧</h2>
  </div>
 </div>
 <div class="row mt-5 m-auto">
 	<div class="col-sm-12 col-md-12 col-lg-10">
	 <table class="table table-hover">
	 		<thead>
	 			<tr>
	 				<th>注文日</th>
	 				<th>配送先</th>
	 				<th>注文商品</th>
	 				<th>支払金額</th>
	 				<th>ステータス</th>
	 				<th>注文詳細</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			<% @orders.each do |order| %>
	 			<tr>
	 				<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
	 				<td>〒<%= order.postal_code %><br>
	 				    <%= order.address %><br>
	 				    <%= order.name %>
	 				</td>
	 				<td><%= order.item.name %></td>
	 				<td><%= order.order_detail.amount*(order.order_detail.price*1.1) %></td>
	 				<td><%= order.state_i18n %></td>
	 				<td><%= link_to "詳細", order_path(order),class:"btn btn-primary" %></td>
	 			</tr>
	 		</tbody>
	 </table>
	</div>
 </div>
</div>